$dark-color1: #1e242c;
$dark-color2: #282e36;
$dark-color3: #2e2742;
$dark-color4: #424165;
$secondary-color: #d2d2e2;

$font-color1: #fff;
$font-color2: #f2eac3;
$font-color3: #FDFD55;
$font-color4: #ffae00;
$font-color5: #1e242c;